.footer {
    width: 100%;
    height: 5rem;
    border-top: .2rem solid $color-orange-brown;
    background-color: $color-brown;
    padding: 2rem 8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    &__copyright {
        color: $color-gold;
    }
    &__logo {
        height: calc(100% - 2rem);
        transform: translate(-50%, -50%);

        position: absolute;
        left: 50%;
        top: 50%;
    }
    &__webmaster {
        color: $color-gold;
    }
}