.link {    
    color: $color-gold;
    font-size: $font-biggest;
    letter-spacing: .3rem;
    text-align: center;

    @media only screen and (min-height: 1200px) and (min-width: 2100px) {
        font-size: $font-large;
    }
}