*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Fira', cursive;
    box-sizing: border-box;

    @media only screen and (max-width: 1400px) {
        font-size: 50%;
    }
}

body {
    font-size: $font-small;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background-color: $color-brown;
    }
}

.main {
    background-color: $color-brown;

    position: relative;
}

* a,
* a:link,
* a:visited {
    text-decoration: none;
}