.heading-1 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: $color-beige-light;
    font-size: $font-large;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    margin: 0 5rem;

    @media only screen and (max-width: 700px) {
        font-size: $font-biggest;
    }
}

.heading-2 {
    color: $color-beige-light;
    font-size: $font-large;
    font-family: 'Goudy Bookletter 1911', serif;
    line-height: 135%;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.heading-3 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: $color-gold;
    font-size: $font-bigger;
    letter-spacing: .3rem;
    line-height: 160%;
}

.heading-4 {
    color: $color-orange;
    font-size: $font-biggest;
    letter-spacing: .4rem;
}

.paragraph {
    color: $color-orange-light;
    line-height: 155%;
    font-size: $font-1_7;
}

.paragraph--yellow {
    color: $color-orange;
    font-size: $font-bigger;
    line-height: 160%;

    @media only screen and (min-height: 1200px) and (min-width: 2100px) {
        font-size: $font-bigger-2;
    }

    & span {
        font-size: $font-bigger-2;
        color: $color-beige-light;

        @media only screen and (min-height: 1200px) and (min-width: 2100px) {
            font-size: $font-biggest;
        }
    }
}