.body--gallery {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media all and (min-width: 1101px) {
            overflow: hidden;
        }
    }
}
.gallery {
    width: 100%;
    height: calc(100vh - 5rem);
    overflow: hidden;
        
    @media only screen and (max-width: 1100px) {
        height: auto;
        padding: 16rem 0;
        overflow: auto;
    }

    &__heading {
        z-index: 100;
        position: fixed;
        top: 16rem;
        left: 8rem;
        
        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }
    &__list {
        list-style: none;
        margin: 4rem 0 6rem 8rem;

        & li {
            color: $color-beige-light;
            font-size: $font-bigger-2;
            text-transform: uppercase;
            letter-spacing: .2rem;
            cursor: pointer;

            position: relative;

            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            &.active {
                &::after {
                    content: "";
                    display: block;
                    width: 10rem;
                    height: 2px;
                    background-color: $color-beige-light;
    
                    position: absolute;
                    bottom: -.75rem;
                    left: 0;
                    
                    @media only screen and (max-width: 750px) {
                        width: 2px;
                        transform: translateY(-50%);
                        height: 120%;
    
                        left: -4rem;
                        top: 50%;
                        bottom: unset;
                    }
                }
            }
        }
    }
    & .link {
        font-size: $font-regular;
        margin-left: 4rem;
    }

    &__photos {
        width: 100%;
        height: 100%;
        transform: translateX(-10%);

        position: fixed;
        z-index: 50;
        right: 0;
        top: 0;

        transition: top .15s linear, right .15s linear;
        
        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }
    &__photo {
        width: 30%;
        height: 40%;
        object-fit: cover;

        position: absolute;
        top: 0;
        right: 0;

        &--1 {
            top: 20%;
            right: 5%;
        }
        &--2 {
            top: calc(20% + 10rem + 40%);
            right: calc(5% + 15%);
        }
        &--3 {
            top: calc(20% + 2*10rem + 2*40%);
            right: calc(5% + 2*15%);
        }
        &--4 {
            top: calc(20% + 3*10rem + 3*40%);
            right: calc(5% + 3*15%);
        }
        &--5 {
            top: calc(20% + 4*10rem + 4*40%);
            right: calc(5% + 4*15%);
        }
        &--6 {
            top: calc(20% + 5*10rem + 5*40%);
            right: calc(5% + 5*15%);
        }
        &--7 {
            top: calc(20% + 6*10rem + 6*40%);
            right: calc(5% + 6*15%);
        }
        &--8 {
            top: calc(20% + 7*10rem + 7*40%);
            right: calc(5% + 7*15%);
        }
        &--9 {
            top: calc(20% + 8*10rem + 8*40%);
            right: calc(5% + 8*15%);
        }
    }

    &__mobile {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: 1101px) {
            display: none;
        }

        & .heading-3 {
            padding: 12rem 0 8rem 0;
            font-size: $font-biggest;

            @media only screen and (max-width: 450px) {
                padding: 8rem 0 4rem 0;
            }
        }

        &__photo {
            max-width: 75%;
            max-height: 50rem;
            margin-bottom: 6rem;

            position: relative;

            @media only screen and (max-width: 450px) {
                margin-bottom: 2rem;
            }
        }
        &__video {
            width: 75%;
            height: 45rem;
            margin-bottom: 6rem;

            position: relative;

            @media only screen and (max-width: 450px) {
                margin-bottom: 2rem;
            }
        }
    }
    & > .paragraph {
        color: $color-brown-lightest;
        font-size: 1.5rem;
        position: fixed;
        left: 8rem;
        bottom: 13rem;

        @media only screen and (max-width: 1100px) {
            padding-top: 8rem;
            
            text-align: center;

            position: static;
        }
    }
    &__scrollbar {
        height: 60vh;
        width: 1rem;
        background-color: $color-brown-lightest-2;
        border-radius: .2rem;
        overflow: hidden;

        position: absolute;
        right: 10rem;
        top: 30vh;
        z-index: 100;

        @media only screen and (max-width: 1100px) {
            display: none;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            right: 0;
            left: 95vw;
        }

        &__thumb {
            width: 100%;
            height: 10rem;
            background-color: $color-brown-light;
            transform: translateX(-50%);
            border-radius: .2rem;
            box-shadow: 0 0 1rem .1rem rgba($color-white, .35);

            position: absolute;
            left: 50%;
            top: 0px;
            z-index: 100;

            transition: all .2s;
        }
    }
}